body {
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    overflow-x: hidden;
}


/* Toggle Styles */

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0px;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #000;
    /*
    -webkit-transition: all 0.5s ease;
-moz-transition: all 0.5s ease;
-o-transition: all 0.5s ease;
transition: all 0.5s ease;
*/
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}


/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 20px;
    /*width: 250px;*/
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 5px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255, 255, 255, 0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

.navbar-brand {
    text-align: center;
    float: center;
}

.brand {
    position: absolute;
    left: 40%;
    margin-left: -50px !important;
    display: block;
    width: 100px;
    height: 30px;
}

.navbar {
    position: relative;
    white-space: nowrap;
    margin-bottom: 0;
    line-height: 50px;
    background: none;
}

.button-background {
    border-radius: 5px;
}

.table-header {
    background: #DEDEDE;
    height: 35px;
    border-radius: 1px;
}

.table-header-style {
    padding-left: 20px;
}

.select-state {
    float: right;
    padding-right: 100px;
    padding-top: 7px;
}

.searchValue {
    float: right;
    padding-right: 100px;
    padding-top: 0.5px;
}

.table {
    border: 1px solid #DEDEDE !important;
}

h2 {
    background: #DEDEDE;
    border-radius: 2px;
}


/*
.logo_text {
    font-size: 20px;
    color: black;
}
*/

.brand-center {
    position: absolute;
    left: 50%;
    margin-left: -50px !important;
    display: inline;
}

.logo {
    width: 60%;
    height: 60%;
    max-width: 80px;
    max-height: 32px;
}

.logo_text {
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    font-size: 15px;
}

.heading {
    font-size: 28px;
}

#menu-toggle {
    border: none;
    background: none;
}

.sidebar-nav li button {
    text-decoration: none;
    outline: none;
    border: none;
    background: none;
    width: 100%;
    color: white;
    text-align: left;
}

.sidebar-nav li button:active,
.sidebar-nav li button:focus {
    text-decoration: none;
    outline: none;
    border: none;
    background: none;
    width: 100%;
    color: white;
    text-align: left;
}

.back_style {
    float: left;
    margin-left: 20px;
}

.star_style {
    float: right;
    margin-right: 20px;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 120px;
    }
    #wrapper.toggled {
        padding-left: 0;
    }
    #sidebar-wrapper {
        width: 120px;
    }
    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }
    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }
    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}

@media(max-width:767px) {
    #wrapper {
        padding-left: 120px;
    }
    #wrapper.toggled {
        padding-left: 0;
    }
    #sidebar-wrapper {
        width: 120px;
    }
    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }
    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }
    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}